/*bluish:#2196F3*/


/*light-bluish:#CFE8FE*/


/*pms-orange: #F67F30*/


/*pms-yellow: #FAB600*/


/*light-yellow: #FFE396*/

/*greyish-color: #E2E2E2;*/

/*light-greyish-color: #F7F6F6;*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E2E2E2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.main-body{
  /*border: 1px solid red;*/
  position: relative;
  top:-20px;
  background-color: #fff;
  /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .5);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .5);
}

.border-left{
  border-left: 1px solid #E2E2E2;
}

.avatar-block{
  /*border: 1px solid red;*/
  text-align: center;
}
.avatar-circle {
  margin: 0 auto;
  background-color: gray;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.avatar-user{
  position: relative;
  top: 36px;
  display: block;

  color: white;
  padding: auto;
  font-size: 900%;
}

.initials {
  position: relative;
  top: 25px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.search-combo-box{
  /*border: 1px solid red;*/
  background-color: #F7F6F6;

  clear: both;
  color: black;
  padding: 10px 35px;
  /*float: none;*/
  border-radius: 25px;
  margin: 10px 10px;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, .3);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .3);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .3);
}
/*pointer for navigation*/

.nav.navbar-nav>li {
    cursor: pointer;
}


/*end:pointer for navigation*/

.navbar {
    font-size: 17px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

a.navbar-brand {
    background-color: #ffffff;
}

a.navbar-brand:hover {
    background: #ffffff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background: #ffffff;
}

a.navbar-brand .active {
    background-color: #ffffff;
}

a.navbar-brand>img {
    position: relative;
    width: 60%;
    top: -25px;
    left: 30px;
}


/*CHANGED: Side-bar styles*/

.modal-body ul {
    padding-left: 0px;
}

.modal-body ul>li {
    list-style: none;
    /*margin: 20px 0px;*/
}

a.list-item>h5 {
    display: inline-block;
    font-size: 17px;
    color: #2196F3;
}

a.list-item:hover h5 {
    color: #2196F3;
}

a.list-item {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid #2196F3;
    width: 100%;
    margin: 0px;
}

a.list-item:hover {
    color: #ffffff;
    text-decoration: none;
    background: #2196F3;
}

a.list-item>span {
    margin: 0px 15px;
}


/*sidebar*/


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.left .modal-dialog, .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content, .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body, .modal.right .modal-body {
    padding: 15px 0px 80px;
}


/*Left*/

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}


/*Right*/

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}


/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #2196F3;
    color: #ffffff;
}

.modal-title {
    color: white;
}


/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-demo:focus {
    outline: 0;
}

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

.demo-footer>a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}


/*end:sidebar*/

footer {
    position: fixed;
    bottom: 0;
    color: black;
    font-size: 15px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #E2E2E2;
}

.container-fluid p {
    font-size: 17px;
}

.sticky-note {
    margin: 20px 0px;
    padding: 2px;
    background-color: #FFE396;
    border:1px #E8Ds47 solid;
    /* Shadow */
    -moz-box-shadow:0px 0px 6px 1px #333333;
    -webkit-box-shadow:0px 0px 6px 1px #333333;
    box-shadow:0px 0px 6px 1px #333333;
}

.sticky-note.sticky-note-red {
    background-color: #FF6A6D;
    color: #990009;
}

.sticky-note.sticky-note-purple {
    background-color: #B479E8;
    color: #6213B0;
}

.sticky-note.sticky-note-yellow {
    background-color: #FFF25D;
    color: #B06009;
}

.sticky-note.sticky-note-blue {
    background-color: #77B5FF;
    color: #0954A6;
}

.centered-div{
  text-align: center;
  margin: 0px auto;
}

.search-label{
  position: relative;
  top: 6px;
  margin-right: 10px;
}




























/*media-elements*/

@media (min-width: 768px) {
    a.navbar-brand:hover {
        background: #ffffff;
    }
}
